/* 
#2C3E50 (Dark blue) 
#27AE60 (Green)
#F39C12 (Orange) */

/* Attribute selector */
/* a[external] {
  color: #0000FF;
} */

/* ID selector */
/* #header {
  font-weight: bold;
} */

/* Class selector */
/* .highlight {
  color: #FF0000;
} */

/* Element selectors */
/* p {
  font-size: 16px;
} */


/* Fonts */
@font-face {
    font-family: 'spaceGro';
    src: url('asets/SpaceGrotesk-Regular.woff') format('woff');
}

h1{
    font-size: 2rem;
    color: #2C3E50;
    font-family: 'spaceGro', sans-serif;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    color: #2C3E50;
    font-family: 'spaceGro', sans-serif;
    text-align: center;
}

h3{
    font-size: 1.4rem;
    color: #2C3E50;
    font-family: 'spaceGro', sans-serif;
    text-align: center;
}

p{
    font-size: 1.2rem;
    color: #2C3E50;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.3rem;
}

html {
    scroll-behavior: smooth;
    color: #2C3E50;
}

body {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    background-color: #2c3e50;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}
    
head { grid-area: 1 / 1 / 2 / 2; }
main { grid-area: 1 / 2 / 2 / 3; }

/* Navbar Start */

header {
    position: fixed;
    top: 0;
    height: 100vh;
}


header nav a {
    display: flex;
    justify-content: center;
    margin: 0em 2em;
    padding: 1em;
    font-size: 1.3rem;
    text-decoration: none;
    color: #3498DB;
    border: 0.1rem solid #3498DB;
    font-family: 'spaceGro', sans-serif;
}
 
header nav a:hover {
    color: #27AE60;
    border: 0.1rem solid #27AE60;
} 

/* Navbar End */
/* AboutMe Section Start */

.AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80vw;
    background-image: url('asets/marek-piwnicki-lxoecryHUCI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}

.AboutMe div {
    max-width: 50em;
    margin: 2em;
    padding: 1.5em;
    background-color: #F39C12;
    border-radius: 0.3rem;
}

.AboutMe h1,
.AboutMe h2 {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #F39C12;
    border-radius: 0.3rem;
}

/* AboutMe Section End */
/* Projects Section Start */

.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80vw;
    height: 100vh;
    background-image: url('asets/wolfgang-hasselmann-QSlXdrjSIhg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}

.Projects > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Projects div div {
    text-align: center;
    margin: 2em;
    padding: 1.5em;
    background-color: #F39C12;
    border-radius: 0.3rem;
}

.Projects div div img {
    max-height: 18em;
    width: auto;
}

/* Projects Section End */
/* CyberGrizzlies Section Start*/

.CyberGrizzlies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 135vh;
    width: 80vw;
    background-image: url('asets/marek-piwnicki-mSOO58gAtYk-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}

.CyberGrizzlies > p {
    margin: 2em;
    padding: 1.5em;
    background-color: #F39C12;
    border-radius: 0.3rem;
}

.CyberGrizzlies > div {
    display: flex;
    flex-direction: row;
}

.CyberGrizzlies > div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40vw;
    margin: 0 1em;
    padding: 1.5em;
    background-color: #F39C12;
    border-radius: 0.3rem;
}

.CyberGrizzlies > h2 {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #F39C12;
    border-radius: 0.3rem;
}

/* CyberGrizzlies Section End */

/* Laptop Version */

@media only screen and (max-width: 1100px) {
    
    header {
        left: -2em;
    }

    .Projects > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
        
    .div1 { 
        grid-column: 1 ;
        grid-row: 1;
     }
    .div2 { 
        grid-column: 2  ;
        grid-row: 1 ; 
    }
    .div3 { 
        grid-column: 1 / 2;
        grid-row: 2; 
    }

    .AboutMe {
        height: 103vh;
    }
    .Projects {
        height: 123vh;
    }
    .CyberGrizzlies {
        height: 202vh;
    }

    header nav a {
        padding: 1em 0.5em;
    }

}   


/* Tablet */

@media only screen and (max-width: 999px) {
    
    header {
        left: 0em;
    }

    header nav a {
        margin: 0em 0.5em;
        padding: 1em 0.2em;
    }

    .AboutMe {
        height: 103vh;
    }

    .Projects {
        height: 118vh;
    }

    .Projects div div img {
        max-height: 15em;
        width: auto;
    }

    .CyberGrizzlies {
        height: 201vh;
    }

    .CyberGrizzlies > div div {
       width: 20vw;
       padding: 0.5em;
    }

}


/* Mobile */

@media only screen and (max-width: 750px) {

    header {
        left: 9.5em;
    }

    body {
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 100vh;
        margin: 1em auto;
        align-items: center;
    }
    
    main {
        display: flex;
    }
        
    header {
        position: fixed;
        top: 0;
        height: 10vh;
    }

    header nav {
        display: flex;
        justify-content: center;
        margin: 1em 0 0 0;
    }

    header nav a {
        font-size: 1rem;
        text-decoration: none;
        color: #3498DB;
        border: 0.1rem solid #3498DB;
    }

    .AboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 112vh;
        width: 90vw;
    }

    .Projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 90vw;
        height: 229vh;
        margin: 2em;
    }
    
    .Projects > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Projects div div {
        text-align: center;
    }
    
    .Projects div div img {
        max-height: 18em;
        width: auto;
    }

    .CyberGrizzlies {
            height: 424vh;
            width: 90vw;
    }

    .CyberGrizzlies > div {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .CyberGrizzlies > div div {
        width: 40vw;
        margin: 2em 1em;
        padding: 1.5em;
     }

}

/* large Mobile */
@media only screen and (max-width: 600px){
    .CyberGrizzlies {
        height: 445vh;
    }
}
/* Medium Mobile */
@media only screen and (max-width: 375px){
    .CyberGrizzlies {
        height: 508vh;
    }
    header {
        left: 7em;
    }
}
/* Small Mobile */
@media only screen and (max-width: 350px){
    .CyberGrizzlies {
        height: 613vh;
    }

    header {
        left: 3.5em;
    }
}


/* Desktop */

@media only screen and (min-width: 760px) {
    header nav {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;;
    } 
}